$grey-500: #3e3e3e;
$grey-400: #525252;
$grey-300: #555555;
$grey-200: #99a0a7;
$grey-100: #b1b1b1;

$white-500: #e6e6e9;
$white-400: #eaeaea;
$white-300: #f4f4f4;
$white-200: #f2f2f2;
$white-100: #ffffff;

$footer-blue: #000022;
$footer-blue-light: #2d9eeb;

$paragraph-color: #4c4c4c;
$header-color: #333333;

$vw-viewport: 1920px;
@function get-vw($px-vw) {
  @return ($px-vw * 100vw) / $vw-viewport;
}
$vh-viewport: 1080px;
@function get-vh($px-vh) {
  @return ($px-vh * 100vh) / $vh-viewport;
}

$header-height: 80px;
$footer-height-closed: 80px;
