@import './../../style/variables';

.products-container {
  width: 100%;
  background-color: $white-200;
  margin-bottom: 80px;
  min-height: calc(100vh - 160px);
  display: flex;
}
.products-container-footer {
  width: 100%;
  margin-bottom: 150px;
  min-height: calc(100vh - 230px);
  background-color: $white-200;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .products-container-footer {
    margin-bottom: 210px;
    min-height: calc(100vh - 290px);
  }
}
