@import './../../style/variables';
.product-ar {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  background-color: $white-200;
}
.product-ar-footer {
  width: 100%;
  height: calc(100vh - 230px);
  position: relative;
}
.product-ar-container {
  width: 100vw;
  height: 100%;
}
.product-ar-viewer {
  width: 100%;
  height: 100%;
}
.prev-page-button {
  position: absolute;
  top: 0;
  left: 0;
  color: $holo-blue;
  font-size: 25px;
  background-color: transparent;
  outline: transparent;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    color: $holo-blue;
  }
}
@media only screen and (max-width: 600px) {
  .product-ar-footer {
    height: calc(100vh - 290px);
  }
}
